.header {
  display: flex;
  width: 393px;
  padding: 4px 20px;
  justify-content: space-between;
  align-items: center;

  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(10px);
}

.icon {
  width: 24px;
  height: 24px;
}

.logo {
  height: 30px;
}
